$font-stack: Helvetica, sans-serif;
$primaryColor: #333;
$thumbnailBackground: #ccc;
$aboutMeBackground: #bbb;
$worksBackground: #ccc;

body {
  font: 100% $font-stack;
  color: $primaryColor;
  margin: 0;
}
.fixed{
  position: fixed;
}

.thumbnail{
  height: 100vh;
  background-color: $thumbnailBackground;
}

.aboutme{
  height: 100vh;
  background-color: $aboutMeBackground;
}

.works{
  height: 100vh;
  background-color: $worksBackground;
}